@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
} 

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Comfortaa', cursive;
  overflow: overlay;
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
  margin-top: 68px;
}

::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border: 1px solid #ffffff40;
  border-radius: 24px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.bg-img {
  background-image: url('assets/paluz-bg-1.png');
  background-size: 1550px;
  background-repeat: no-repeat;
}

.bg-div{
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute ;
}

.bg-img-2 {
  background-image: url('assets/paluz-bg-inverted.png');
  background-size: 1400px;
  background-repeat: no-repeat;
}

.bg-div-2{
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 600px) {
  .bg-div {
   background-image: none !important;
  }
  .bg-div-2 {
    background-image: none !important;
   }
}

@media screen and (max-width: 900px) {
  .bg-img {
    background-image: url('assets/paluz-bg-1.png');
    background-size: cover;
    background-repeat: no-repeat ;
  }
  .bg-img-2 {
    background-image: url('assets/paluz-bg-1.png');
    background-size: cover;
    background-repeat: no-repeat ;
  }  
}

.zoom {
  transition: transform 2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media screen and (orientation: portrait) {
  #rotate-view {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  #rotate-view {
    display: block;
    width: 100%;
    padding: 10px;
  }
}

@media screen and (orientation: landscape) {
  #vertical-view {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  #vertical-view {
    display: block;
    width: 100%;
    padding: 10px;
  }
}

